@charset "utf-8";
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#wrapper {
	min-height: 100%;
	width: 100%;
	margin: 0 auto;
}
#main {
	overflow: auto;
	width: 500px;
	margin: 0 auto;
	padding-bottom: 20px;
}
#logoimage {
	margin: 100px 0px 0px 0px;
}

#logo {
	width: 500px;
}

#findpw {
	width: 500px; 
}
#findpwfield {
	overflow: hidden;
	zoom: 1;
}
#account {
	float: left;
}
#idletter {
	display: inline-block;
	width: 100px;
}
#unameletter {
	display: inline-block;
	width: 100px;
}
#emailletter {
	display: inline-block;
	width: 100px;
}
.inputval {
	width: 200px;
}
input, select {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#findpwbutton {
	float: right;
}
#button {
	display: block;
	width: 50px;
	height: 50px;
}
#madeby {
	margin-right: 10px;
}
#footer {
	position: relative;
	margin-top: -20px;
	height: 20px;
	clear: both;
	width: 100%;
	text-align: center;
}

