@charset "utf-8";
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#wrapper {
	min-height: 100%;
	width: 500px;
	margin: 0 auto;
}
#main {
	overflow: auto;
	padding-bottom: 20px;
}
#logoimage {
	margin: 100px 0px 0px 0px;
}

#logo {
	width: 500px;
}

#join {
	width: 500px; 
}
#joinfield {
	overflow: hidden;
	zoom: 1;
}
#account {
	float: left;
}
#idletter {
	display: inline-block;
	width: 100px;
}
#idcondition {
	display: inline-block;
}
#idcondition p {
	color: red;
	font-size: 11px;
}
#pwletter {
	display: inline-block;
	width: 100px;
}
#pwcondition {
	display: inline-block;
}
#pwcondition p {
	color: red;
	font-size: 11px;
}
#pwconfirmletter {
	display: inline-block;
	width: 100px;
}
#unameletter {
	display: inline-block;
	width: 100px;
}
#emailletter {
	display: inline-block;
	width: 100px;
}
.inputval {
        width: 200px;
}
#joinbutton {
	float: right;
}
.button {
	display: block;
	width: 80px;
	height: 50px;
}
#madeby {
	margin-right: 10px;
}
#footer {
	position: relative;
	margin-top: -20px;
	height: 20px;
	clear: both;
	width: 100%;
	text-align: center;
}

