html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#infobar {
        width: 100%;
        overflow: auto;
}
#userid {
        margin-left: 10px;
}
#userwelcome {
        float: left;
}
#logout {
        margin-right: 10px;
}
#mypage {
        margin-right: 20px;
}
#myinfo {
        float: right;
}
#wrapper {
	min-height: 100%;
        margin: 0 auto;
        width: 100%;
}
#main {
	width: 800px;
	margin: 0 auto;
	overflow: auto;
	padding-bottom: 20px;
}
#myform {
        margin: 300px 0px 0px 0px;
        width: 800px;
}
#pwconfirminput {
	margin-left: 30px;
}
.inputletter {
	display: inline-block;
	width: 150px;
}
.inputval {
	width: 200px;
}
#submitbutton {
	text-align: center;
	padding-top: 10px;
}
#footer {
        position: relative;
	margin-top: -20px;
	height: 20px;
	clear: both;
        width: 100%;
        text-align: center;
}

