@charset "utf-8";
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#wrapper {
	min-height: 100%;
	width: 500px;
	margin: 0 auto;
}
#main {
	overflow: auto;
	padding-bottom: 20px;
}
#rletterfield {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
#resultletter {
	font-weight: bold;  
}
#searchresult {
	margin: 0 auto;
}
#searchresult td{
	padding: 3px;
}
#button {
	margin-top: 10px;
	text-align: center;
}
#complete {
	width: 50px;
}
#madeby {
	margin-right: 10px;
}
#footer {
	position:relative;
	margin-top: -20px;
	height: 20px;
	clear: both;
	width:100%;
	text-align: center;
}

