html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#wrapper {
	min-height: 100%;
	margin: 0 auto;
}
#main {
	overflow: auto;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 20px;
}
	
#infobar {
	width: 100%;
	overflow: auto;
}
#userid {
	margin-left: 10px;
}
#userwelcome {
	float: left;
	color: white;
}
#logout {
	margin-right: 10px;
}	
#mypage {
	margin-right: 20px;
}
#myinfo {
	float: right;
}
#navbar {
    	float: left;
 	width: 100%;
 	margin: 0;
 	padding: 10px 0 0 0;
	list-style: none;
}
#navbar li {
    	float: left;
    	margin: 0 1px 0 0;
    	padding: 0;
}
#navbar a {
    	float: left;
    	display: block;
    	margin: 0;
    	padding: 4px 8px;
    	text-decoration: none;
    	border-bottom: none;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #686868;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #686868;
}
#footer {
        position: relative;
	margin-top: -20px;
	height: 20px;
	clear: both;
        width: 100%;
        text-align: center;
}
#tablediv{
	padding: 0 0 50px 0;
	width: 500px;
	margin: 0 auto;
}
#mygroup{
	text-align: center;
	margin: 0 auto;
}
#buttons{
	text-align: center;
}
#groupsearch{
	text-align: center;
	display: inline-block;
	padding: 50px 0 50px 0;
	margin: 0 auto;
}
.center{
	text-align: center;
}
