{% extends "base.html" %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function(){
				$('#dbmake').submit(function(e){
					url = document.URL.split("/");
					new_url = "http:/";
					for (var i=2; i<url.length-1; i++){
						new_url += ("/" + url[i]);
					}
					$.ajax({
						type: "POST",
						url: document.URL,
						data: $(this).serialize(),
						success: function(data){
							alert("You made a DB");
							window.location = new_url;
						},
						error: function(xhr, ajaxOptions, errorThrown){
							alert("You have DB in that name already");
						}
					});
					return false;
				});

				//userdefine field //////////////////////////////
				//$('#db_type').change(function() {
                                //        if(this.checked) {
                                //               document.getElementById('gp_name_check').style.visibility = 'hidden';
                                //        } else {
                                //                document.getElementById('gp_name_check').style.visibility = 'visible';
                                //        }
                                //});

				////////////////////////////////////////////////
			});
	</script>
{% endblock %}
{% block wrapper %}
	<form id="dbmake" method="post">
		<fieldset id="dbfield">
			<div id="dbaccount">
				<div>
					<span id="dbnametry">
						<label id="dbnameletter" for="dbname">DB Name</label>
						<input type="text" name="db_name" id="db_name" class="inputval">
					</span>

				</div>
				
				<div>
					<label id="dbtypeletter" for="dbtype">DB Type</label>
					<!--<input type="text" name="db_type" id="db_type" class="inputval">-->
					<select id = "db_type" name = "db_type" class = "inputval">
						<option value = "회계장부">회계장부</option>
						<option value = "주소록">주소록</option>
						<option value = "연락처">연락처</option>
						<option value = "도서장부">도서장부</option>
						<option value = "사용자설정">사용자 설정</option>
					</select>
				</div>
			<!--userdefine field-->	
				<div id = "userdefine">
					<div id = "udefnamefield">
						<label id = "udefnameletter" for = "udefname">DB Name</label>
						<input type = "text" id = "udefname" class = "inputval" name = "udefname">
					</div>
					<div id = "colnumfield">
						<label id = "columnnumletter" for = "columnnum">Number of Column</label>
						<input type = "text" id = "columnnum" class = "inputval" name = "columnnum">
					</div>
			
					<div id = "colnamefield">
						<span id = "columnnameletter">Name of Each Column</span>
						<div id = "eachcolname">
						<!-- 위에서 설정한 칼럼의 개수만큼 각 칼럼의 이름설정칸을 만들어준다-->

							<label id = "col1letter" for = "col1">Column 1</label>
                                                        <input type = "text" id = "col1" class = "inputval, eachcolumn" name = "col1">
									
							<label id = "col2letter" for = "col2">Column 2</label>
                                                        <input type = "text" id = "col2" class = "inputval, eachcolumn" name = "col2">
									
							<label id = "col2letter" for = "col3">Column 3</label>
                                                        <input type = "text" id = "col3" class = "inputval, eachcolumn" name = "col3">
						</div>
					</div>
				</div>
			<!--///////////////////////////////////////////////////////////////////////////////-->

				<div>
					<label id="dbinfoletter" for="dbinfo">DB Info</label>
					<input type="text" name="db_info" id="db_info" class="inputval">
				</div>
			</div>

			<div id="dbmakebutton">
				<input id="makebutton" type="submit" value="Submit">
			</div>
		</fieldset>
	</form>
{% endblock %}
