{% extends "base.html"%}
{% block css %}
add_admin
{% endblock %}
{% block wrapper %}
<div id = "userdiv">
	<h2 class="form-signin-heading">일반 사용자</h2>
	<table id = "usertable" align="center" class="table table-hover table-striped">
		<thead>
			<tr>
				<td style="width: 100px">이름</td>
				<td style="width: 100px">ID</td>
				<td style="width: 100px">승격</td>
			</tr>
		</thead>
		<tbody>
		{% for r in join_req %}
			<tr>
				<td>{{ r.user.first_name }}</td>
				<td>{{ r.user.username }}</td>
				<td>
					<button class="approval">승격</button>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
