{% extends "base.html" %}
{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
			$('#db_add').click(function(e){
				window.location.href=document.URL + "/db_make";
			});

			$('.approval').click(function(e){
				row=$(this).parent().parent();	
				$.ajax({
					type: "GET",
					url: document.URL + "/" + $(this).parent().parent().children('td:nth-child(2)').html() + "/s",
					success: function(data){
						row.remove();
					},
					error: function(xhr, ajaxOptions, errorThrown){
					}
				});
				return false;
			});

			$('.delete').click(function(e){
				c=confirm("삭제 하시겠습니까?");
				if (c == true){
					name=$(this).parent().parent().children('td:nth-child(1)').html();
					row=$(this).parent().parent();
					$.ajax({
						type: "POST",
						url: document.URL + "/db_delete",
						data: {'name': name},
						success: function(data){
							alert("성공적으로 " + name + " DB를 삭제했습니다.");
							row.remove();
						},
						error: function(xhr, ajaxOptions, errorThrown){
						}
					});
					return false;
				}
			});
			
			$('.delete').hide();

			$('#delete_appear').click(function(e){
				if ($(this).html() == "수정")
					$(this).html('완료');
				else
					$(this).html('수정');
				$('.delete').toggle();
				$('.delete_group').toggle();
			});



			$('.denial').click(function(e){
				row=$(this).parent().parent();	
				$.ajax({
					type: "GET",
					url: document.URL + "/" + $(this).parent().parent().children('td:nth-child(2)').html() + "/f",
					success: function(data){
						row.remove();
					},
					error: function(xhr, ajaxOptions, errorThrown){
					}
				});
				return false;
			});

			$('.db_redirect').click(function(e){
				window.location.href=document.URL + "/" + $(this).html();
			});
		});
</script>
{% endblock %}
{% block wrapper %}
		{% if m.status == 0 %}
		<div id="permission">
			<table border="1" id = "permitdb">
				<tr>
					<th>이름</th>
					<th>ID</th>
					<th>메세지</th>
					<th>승인</th>
					<th>거부</th>
				</tr>
				{% for r in join_req %}
				<tr>
					<td>{{ r.user.first_name }}</td>
					<td>{{ r.user.username }}</td>
					<td>{{ r.message }}</td>
					<td>
						<button class="approval">승인</button>
					</td>
					<td>
						<button class="denial">거부</button>
					</td>
				</tr>
				{% endfor %}
				<!--
				<tr>
					<td>김도연</td>
					<td>mkim</td>
					<td>가입시켜주세요</td>
					<td>
						<button>승인</buton>
					</td>
				</tr>
				-->
			</table>
		</div>
		{% endif %}
		<div id="dbfield">	
			<table border="1" id = "mydb">
				<tr>
					<th>DB명</th>
					<th>DB유형</th>
					<th>선택</th>
				</tr>
				{% for d in db %}
				<tr>
					<td class="db_redirect">{{ d.name }}</td>
					<td>{{ d.dbtype }}</td>
					<td><input type="button" class="delete" value="삭제"></td>
				</tr>
				{% endfor %}
				<!--
				<tr>
					<td>비상연락망</td>
					<td>주소록</td>
					<td>
						<input type="checkbox">
					</td>
				</tr>
				-->
			</table>
	
			<span id="adddb"><button id="db_add">새 DB 추가</button></span>
			<span id="editdb"><button id="delete_appear">수정</button></span>  <!--수정을 클릭하면 완료로 글자 바뀜-->
		</div>
	
		{% if private == "false" %}	
		<div id="memfield">
			<aside>
				<span id="gpmember">그룹 멤버:</span>
				<span id="numofmem">{{ g.num_member }} </span>
				<ol>
					<li id="administrator" class = "memclass">
						<strong>관리자</strong>
						<ul>
							{% for member in admin %}
							<li>{{ member.user.first_name }}</li>	<!-- 임시적으로 id를 표시하도록 한다. -->
							{% endfor %}
							<!--
							<li>김진명</li>
							<li>안용주</li>
							<li>박성준</li>
							-->
						</ul>	
					</li>
					<li id="user" class = "memclass">
						<strong>일반 사용자</strong>
						<ul>
							{% for member in normal %}
							<li>{{ member.user.first_name }}</li>
							{% endfor %}
							<!--
							<li>이현민</li>
							<li>김도연</li>
							<li>최준혁</li>
							<li>이선호</li>
							-->
						</ul>
					</li>
				</ol>
			</aside>
		</div>
		{% endif %}
{% endblock %}


