{% extends "base.html" %}
{% block script %}
		<script>
		$(document).ready(function(){
				$('#gp_name_check').click(function(e){
					if ($('#group_name').val()[0] == " "){
						alert('그룹 이름의 시작은 공백으로 할 수 없습니다.');
						return false;
					}
					$.ajax({
						type: "POST",
						url: "/group_make",
						data: {'name_check': '', 'group_name': $('#group_name').val()},
						success: function(data){						
							if ("fail" in data){
								if (data.fail == "Restriction"){
									alert("공백만으로 이루어져 있습니다.");
								}
								else{
									alert("이미 사용중인 이름입니다.");
								}
							}
							else {
								alert("사용하실 수 있습니다.");
							}
						},
						error: function(xhr, ajaxOptions, errorThrown){
						}
					});
					return false;
				});

				$('#makebutton').click(function(e){
					$.ajax({
						type: "POST",
						url: "/group_make",
						data: $('#gpmake').serialize(),
						success: function(data){
							if ("fail" in data){
								if (data.fail == "Restriction"){
									alert("그룹 이름이 공백만으로 이루어져 있습니다.");
								}
								else{
									alert("이미 사용중인 이름입니다.");
								}
							}	
							else if ("success" in data){
								alert("성공적으로 그룹을 만들었습니다.");
								window.location = "/";
							}
						},
						error: function(xhr, ajaxOptions, errorThrown){
						}
					});
					return false;
				});
				//double check visibility control	
				$('#privategroup').change(function() {
                        		if(this.checked) {
                                		document.getElementById('gp_name_check').style.visibility = 'hidden';
                        		} else {
                                		document.getElementById('gp_name_check').style.visibility = 'visible';
                        		}
                		});
				///////////////////////////////////

		});
		</script>
{% endblock %}
{% block wrapper %}
		<form id = "gpmake" method = "post">
			<fieldset style="background: white" id = "gpfield">
				<h3>그룹 추가</h3><br>
                		<div id = "gpaccount">
                        	      	<div>
						<span id = "gpnametry">
                              	        		<label id = "gpnameletter" for = "gpname">그룹 이름</label>
                                			<input type = "text" name = "group_name" id = "group_name" class = "inputval">
						</span>
	
						<span id = "privatecheck">
                                                        <label id = "privategpletter" for = "privategroup">개인 그룹</label>
                                                        <input id = "privategroup" type = "checkbox" name = "privategroup">
                                                </span>
						
						<span id = "gpnamecheck">
							<input id = "gp_name_check" class="btn btn-default" type = "submit" value = "중복 확인" name = "check">
						</span>

                                	</div>
					
	                                <div>
        	                                <label id = "gpinfoletter" for = "gpinfo">그룹 정보</label>
                	                        <input type = "text" name = "group_info" id = "group_info" class = "inputval">
                        	        </div>
                        	 </div><br>

                     		 <div id = "gpmakebutton">
                                	<input id = "makebutton" class="btn btn-default" type = "submit" value = "만들기">
                        	 </div>
                	 </fieldset>
		</form>
{% endblock %}
	

