{% extends "base.html" %}
{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
			$('#db_add').click(function(e){
				window.location.href=document.URL + "/db_make";
			});

			$('.approval').click(function(e){
				row=$(this).parent().parent();	
				$.ajax({
					type: "GET",
					url: document.URL + "/" + $(this).parent().parent().children('td:nth-child(2)').html() + "/s",
					success: function(data){
						row.remove();
					},
					error: function(xhr, ajaxOptions, errorThrown){
					}
				});
				return false;
			});

			$('.delete').click(function(e){
				c=confirm("삭제 하시겠습니까?");
				if (c == true){
					name=$(this).parent().parent().children('td:nth-child(1)').html();
					row=$(this).parent().parent();
					$.ajax({
						type: "POST",
						url: document.URL + "/db_delete",
						data: {'name': name},
						success: function(data){
							alert("성공적으로 " + name + " DB를 삭제했습니다.");
							row.remove();
						},
						error: function(xhr, ajaxOptions, errorThrown){
						}
					});
					return false;
				}
			});
			
			$('.delete').hide();

			$('#delete_appear').click(function(e){
				if ($(this).html() == "수정")
					$(this).html('완료');
				else
					$(this).html('수정');
				$('.delete').toggle();
				$('.delete_group').toggle();
			});

			$('#addad').click(function(e){
				window.location.href="/group_admin/" + "{{ g.title }}";
			});

			$('.denial').click(function(e){
				row=$(this).parent().parent();	
				$.ajax({
					type: "GET",
					url: document.URL + "/" + $(this).parent().parent().children('td:nth-child(2)').html() + "/f",
					success: function(data){
						row.remove();
					},
					error: function(xhr, ajaxOptions, errorThrown){
					}
				});
				return false;
			});

			$('.db_redirect').click(function(e){
				window.location.href=document.URL + "/" + $(this).html();
			});
		});
</script>
{% endblock %}
{% block wrapper %}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2" id="leftbar">
			<div id="memfield" class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">그룹 구성원:&nbsp;{{ g.num_member }}명</li><br>
                                        <li id = "administrator" class = "memclass">
                                                <strong>관리자</strong>
                                                <ul class="nav nav-list">
                                                        {% for member in admin %}
                                                        <li>{{ member.user.first_name }}</li>   <!-- 임시적으로 id를 표시하도록 한다. -->
                                                        {% endfor %}
                                                </ul>
                                        </li><br>
                                        <li id = "user" class = "memclass">
                                                <strong>일반 사용자</strong>
                                                <ul class="nav nav-list">
                                                        {% for member in normal %}
                                                        <li>{{ member.user.first_name }}</li>
                                                        {% endfor %}
                                                </ul>
                                        </li>
				</ul><br>
			</div>
			{% if m.status == 0 %}
			<button id="addad" type="button" class="btn btn-block btn-default">관리자 추가</button>
			{% endif %}
		</div>
		<div class="span10">
			{% if m.status == 0 %}
			<div id = "permission">
				<fieldset style="background:white">
	                                <h3>승인 요청 명단</h3><br>
					<table id = "permitdb" align="center" class="table table-hover table-striped">
						<thead>
							<tr>
								<td style="width: 100px">이름</td>
								<td style="width: 100px">ID</td>
								<td style="width: 100px">메세지</td>
								<td style="width: 100px">승인</td>
								<td style="width: 100px">거부</td>
							</tr>
						</thead>
						<tbody>
						{% for r in join_req %}
							<tr>
								<td>{{ r.user.first_name }}</td>
								<td>{{ r.user.username }}</td>
								<td>{{ r.message }}</td>
								<td>
									<button class="approval btn btn-default">승인</button>
								</td>
								<td>
									<button class="denial btn btn-default">거부</button>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</fieldset>
			</div>
			{% endif %}

			<div id = "dbfield">
				<fieldset style="background:white">
					<h3>그룹 DB</h3><br>	
					<table id = "mydb" align="center" class="table table-hover table-striped">
						<thead>
							<tr>
								<td style="width: 100px">DB 이름</td>
								<td style="width: 100px">DB 유형</td>
								<td style="width: 100px">삭제</td>
							</tr>
						</thead>
						<tbody>
							{% for d in db %}
							<tr>
								<td class="db_redirect">{{ d.name }}</td>
								<td>{{ d.dbtype }}</td>
								<td><input type="button" class="delete button btn btn-default btn-xs" value="삭제"></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<div id="buttons">	
						<span id = "adddb"><button id="db_add" class="btn btn-default">DB 추가</button></span>
						<span id = "editdb"><button class="btn btn-default" id="delete_appear">수정</button></span>  <!--수정을 클릭하면 완료로 글자 바뀜-->
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</div>
{% endblock %}


