<!doctype html>
<html>
<head>
        <title>WEB DB</title>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
	{% block script %} {% endblock %}
	 <link rel = "stylesheet" type = "text/css" href = "{{ STATIC_URL }}css/{{ css }}.css">
        <meta charset = "UTF-8">
</head>
<body>
	{% if css != "login" and css != "join" and css != "findpw" %}
 	<div id = "infobar">
                <div id = userwelcome>
                        <span id = "userid">{{ u.username }}</span>
                        <span id = "welcome">님, 환영합니다!</span>
                </div>
                <div id = myinfo>
                        <span id = "logout"><button onClick = "window.location.href='/logout'">Logout</button></span>
                        <span id = "mypage"><a href = "/my_info">My page</a></span>
                </div>
        </div>
	 <ul id = "navbar">
		{% if css == "db_page" or  css == "group" or  css == "user"%}
                <li id = "home"><a href = "/">HOME</a></li>
		{% endif %}
		{% if css == "db_page" or  css == "group" %}
                <li id = "group"><a href = "/group/{{ g.title }}">GROUP</a></li>
		{% endif %}
		{% if css == "db_page" %}
                <li id = "db"><a href = "/db/{{ db.name }}">DB</a></li>
		{% endif %}
        </ul>
	
	{% endif %}
	<div id="wrapper">
		<div id="main">
			 {% block wrapper %}
               		 {% endblock %}
		</div>
	</div>	
	<div id="footer">
	 <span id = "madeby">
                        Made by Bacchus
                </span>
                <span id = "contact">
                        <a href = "contact@bacchus.snucse.org">Contact Us!</a>
                </span>
        </div>

</body>
</html>


