{% extends "base.html" %}
{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#button').click(function(e){
			$.ajax({
				type: "POST",
				url: document.URL,
				data: {'id': $('#id').val(), 'email': $('#email').val(), 'uname': $('#uname').val()},
				success: function(data){
					if ("fail" in data){
						alert('그런 유저가 존재하지 않습니다.');
					}
					else if ("success" in data) {
						alert("새 비밀번호를 입력된 이메일 주소로 발송했습니다.");
						window.location = "/";
					}
				},
				error: function(xhr, ajaxOptions, errorThrown){
				}
			});
			return false;
		});
	});
</script>
{% endblock %}
{% block css %}
findpw
{% endblock %}

{% block wrapper %}
                <div id = "logoimage">
                        <img id = "logo" src = "https://lh3.googleusercontent.com/--wpLtuQy7Rk/UonLwOahO1I/AAAAAAAAAFU/_5GcMmr5rcU/s500/%25EA%25B3%25A0%25EB%2594%2595.gif" alt = "logo">
                </div>

                <div id="findpw">
                        <form id="findpwbigform" method = "post">
                                <fieldset id="findpwsmallform">
                                        <div id="findpwfield">
                                                <div id="account">
                                                        <div>
                                                                <label id="idletter" for = "id">ID</label>
                                                                <input type="text" id = "id" name = "id" class = "inputval">
                                                        </div>
	
							<div>
								<label id="unameletter" for = "uname">Name</label>
                                                                <input type="text" id = "uname" name = "uname" class = "inputval">
							</div>				
	
                                                        <div>
                                                                <label id="emailletter" for = "email">Email</label>
                                                                <input type="text" id = "email" name = "email" class = "inputval">
                                                        </div>

                                                        <!--<div>
                                                                <label id="questionletter" for = "question">Question</label>
                                                                <select name="question" class = "inputval">
									<option value="보물1호" selected = "selected">나의 보물 1호는?</option>
									<option value="초등학교">나의 출신 초등학교는?</option>
									<option value="고향">나의 고향은?</option>
									<option value="이상형">나의 이상형은?</option>
									<option value="어머니">어머니 성함은?</option>
									<option value="아버지">아버지 성함은?</option>
									<option value="색깔">가장 좋아하는 색깔은?</option>
								</select>
                                                        </div>

							<div>
								<label id="answerletter" for = "answer">Answer</label>
								<input type="text" id = "answer" class = "inputval">
							</div>-->
                                                </div>

                                                <div id = "findpwbutton">
                                                        <input class="btn" id = "button" type = "submit" value = "찾기">
                                                </div>
                                        </div>
                                </fieldset>
                        </form>
                </div>

{% endblock %}
