{% extends "base.html" %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#groupsearch').submit(function(e){
				if ($('#keyword').val() == ""){
					return false;
				}
			});

			$('.withdraw').click(function(e){
				c=confirm("탈퇴 하시겠습니까?");
				if (c == true){
					title=$(this).parent().parent().children('td:nth-child(1)').children('a').html();
					row=$(this).parent().parent();
					$.ajax({
						type: "POST",
						url: document.URL + "group_withdraw",
						data: {'private': 'False', 'title': title},
						success: function(data){
							alert("성공적으로 " + title + " 그룹에서 탈퇴했습니다.");
							row.remove();
						},
						error: function(xhr, ajaxOptions, errorThrown){
						}
					});
					return false;
				}
			});

			$('.delete_group').click(function(e){
				c=confirm("삭제 하시겠습니까?");
				if (c == true){
					title=$(this).parent().parent().children('td:nth-child(1)').children('a').html();
					row=$(this).parent().parent();
					$.ajax({
						type: "POST",
						url: document.URL + "group_withdraw",
						data: {'private': 'True', 'title': title},
						success: function(data){
							alert("성공적으로 " + title + " 그룹을 삭제했습니다.");
							row.remove();
						},
						error: function(xhr, ajaxOptions, errorThrown){
						}
					});
					return false;
				}
			});


			$('.withdraw').hide();
			$('.delete_group').hide();

			$('#withdraw_appear').click(function(e){
				if ($(this).html() == "수정")
					$(this).html('완료');
				else
					$(this).html('수정');
				$('.withdraw').toggle();
				$('.delete_group').toggle();
			});
			
		});
	</script>
{% endblock %}

{% block wrapper %}
<div class="container-fluid">
        <div class="row-fluid">
                <div class="span2">
                        <div id="waiting" class="well sidebar-nav">
                                <ul class="nav nav-list">
                                        <li class="nav-header">가입 신청 그룹</li><br>
                                        <li id = "waitinggroup" class = "memclass">
                                                <strong>그룹 이름</strong>
                                                <ul class="nav nav-list">
                                                        {% for a in admissions %}
                                                        <li>{{ a.group.title }}</li>   <!-- 임시적으로 id를 표시하도록 한다. -->
                                                        {% endfor %}
                                                </ul>
                                        </li>
                                </ul>
                        </div>
                </div>
                <div class="span10">
			<div class="center">
				<form class="form-inline" role="form" id = "groupsearch" action = "/group_search" method = "post">
					<div class="form-group">
						<label class="sr-only" for="keyword">Group</label>
						<input class="form-control" style="width: 400px;" type="text" id="keyword" name="group_name">
					</div>
					<button class="btn btn-default" id="searchbut" type="submit">그룹 검색</button>
				</form>
			</div>

			<div id = "tablediv">
				<h2 class="form-signin-heading">나의 그룹</h2>
				<table align="center" class="table table-hover table-striped" id = "mygroup">
					<thead>
						<tr>
							<td style="width: 100px">그룹명</td>
							<td style="width: 100px">권한</td>
							<td style="width: 100px">선택</td>
						</tr>
					</thead>
					<tbody>
						{% for g in groups %}
						<tr>
							<td><a href="/group/{{ g.group.title }}">{{ g.group.title }}</a></td>
							<td>
								{% if g.status == 0 %}
								관리자
								{% else %}
								일반
								{% endif %}
							</td>
							<td><input type="button" class="withdraw" value="탈퇴"></td>
						</tr>
						{% endfor %}

						{% for g in p_groups %}
   				     		<tr>
                        				<td><a href="/p_group/{{ g.title }}">{{ g.title }}</a></td>
                        				<td>개인용</td>
                        				<td><input type="button" class="delete_group" value="삭제"></td>
                				</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div id ="buttons">
				<span id = "addgroup"><button class="btn" onclick = "window.location.href='/group_make'">새 그룹 추가</button></span>
				<span id = "editgroup"><button class="btn">수정</button></span>  <!--수정을 클릭하면 완료로 글자 바뀜-->
			</div>
		</div>
	</div>
</div>
{% endblock %}		
